* {
  font-family: EuclidCircularA, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;

  margin: 0px;
  padding: 0px;
}

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

/* GENERAL ELEMENTS */
.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

p {
  color: #666;
}

/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.features__img {
  width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/**********************************Navbar***********************************/
.navbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  box-shadow: 0px 5px 5px grey;
  background-image: linear-gradient(to right, #f3f3f3, #ffffff);
  position: fixed;
  top: 0;
}

.navbar .hamburger-menu {
  display: none;
}
.navbar h2 {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 32px;
}

.links ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  margin-top: 35px;
  margin-right: 100px;
}

.links li {
  padding-left: 20px;
  list-style-type: none;
  font-size: 20px;
}

.links li a {
  color: black;
  text-decoration: none;
  padding: 15px;
  background-color: #f7f7f8;
  border-radius: 15px;
  font-weight: 500;
}

.horizontal {
  display: none;
}

@media (max-width: 900px) {
}

/**************************LandingPage***********************/

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}

.header img {
  margin-top: 80px;
  margin-right: 50px;
}

.landiingImage {
  margin-top: 150px;
}

.header__title {
  flex: 1;

  margin-left: 100px;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
}

.landingh1 {
  font-size: 4.5rem;
  line-height: 1.35;
  display: flex;
  width: auto;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
  z-index: -1;
}

.highlight {
  position: relative;
  content: "";
  margin: 0 30px;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* .highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
} */

/*************************** Detail Page *********************/

.detail {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail .detailh1 {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
}

.detail h3 {
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1em;
  position: relative;
  top: 50px;
}

.card1 {
  height: 440px;
  width: 20%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 5px 5px grey;
  margin-left: 220px;
  margin-right: 60px;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.card2 {
  height: 440px;
  width: 20%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 5px 5px grey;
  margin-left: 60px;
  margin-right: 60px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.card3 {
  height: 440px;
  width: 20%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 5px 5px grey;
  margin-left: 60px;
  margin-right: 220px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.card1 h3,
.card2 h3,
.card3 h3 {
  margin-top: 10px;
  font-size: 28px;
  text-align: center;
}

.card1 img,
.card2 img,
.card3 img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  padding: 20px;
}

.card1 p,
.card2 p,
.card3 p {
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}

/*********************Convert*****************************/

.convert {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.converth1 {
  font-size: 55px;
}

.text {
  width: 60%;
  height: 500px;
  border: 1px solid black;
  margin: 50px 50px 20px 50px;
  border-radius: 15px;
  overflow: hidden;
  overflow-y: scroll;
}

.text .content {
  padding: 30px 25px 0px 25px;
  font-size: 23px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.upload {
  width: 40%;
  text-align: center;
  margin-top: 140px;
}

.upload p {
  padding-top: 20px;
  font-size: 20px;
}

@media (max-width: 1300px) {
  .detail {
    height: 2200px;
  }
  .cards {
    flex-direction: column;
    height: 2000px;
  }

  .card1 {
    height: 1000px;
    width: 35%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 5px 5px grey;
    position: absolute;
    align-self: center;
    z-index: -1;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
  }

  .card2 {
    height: 1000px;
    width: 35%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 5px 5px grey;
    position: absolute;
    z-index: -1;
    align-self: center;
    margin-left: 220px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
  }

  .card3 {
    height: 1000px;
    width: 35%;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    box-shadow: 10px 5px 5px grey;
    position: absolute;
    align-self: center;
    margin-left: 380px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
  }

  .footer {
    width: 100%;
    background-color: #d3d3d3;
    color: black;
    text-align: center;
    padding-top: 10px;
    position: absolute;
  }
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
    height: 2000px;
  }

  .detail {
    height: 2200px;
  }

  .card1 {
    height: 1000px;
    width: 50%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 5px 5px grey;
    position: absolute;
    z-index: -1;
    align-self: center;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
  }

  .card2 {
    height: 1000px;
    width: 50%;
    border-radius: 15px;
    z-index: -1;
    background-color: white;
    box-shadow: 10px 5px 5px grey;
    position: absolute;
    align-self: center;
    margin-left: 220px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
  }

  .card3 {
    height: 1000px;
    width: 50%;
    z-index: -1;
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 5px 5px grey;
    position: absolute;
    align-self: center;
    margin-left: 380px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
  }

  .footer {
    width: 100%;
    background-color: #d3d3d3;
    color: black;
    text-align: center;
    padding-top: 10px;
    position: absolute;
  }
}

/***************************button****************************/
.upload .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  align-items: center;
  background-color: grey;
  border: 0;
  border-radius: 15px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: black;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Phantomsans, sans-serif;
  font-size: 25px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 150px;
  padding: 15px 24px;
  text-decoration: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 40px;
}

.button:active,
.button:hover {
  outline: 0;
}

@media (max-width: 900px) {
  .upload .btn {
    flex-direction: column;
  }
  .button {
    font-size: 24px;
    min-width: 100px;
  }
}

/*********************footer ***************************/
.footer {
  width: 100%;
  background-color: #d3d3d3;
  color: black;
  text-align: center;
  padding-top: 10px;
  position: relative;
  bottom: 0;
}

.footer {
  padding: 5rem 0;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/**********************Login******************************/
.logbody {
  width: 100%;
  height: 100vh;
  background-color: #d0ecf8;
  display: flex;
  justify-content: center;
}

.login {
  margin-top: 200px;
  background-color: #ffffff;
  width: 30%;
  height: 500px;
  box-shadow: 10px 5px 5px grey;
  border-radius: 15px;
}

@media (max-width: 1600px) {
  .login {
    width: 35%;
  }
}

@media (max-width: 1400px) {
  .login {
    width: 40%;
  }
  .logform input {
    width: 230px;
  }
}

@media (max-width: 1200px) {
  .login {
    width: 50%;
  }
  .logform input {
    width: 100px;
  }
  .logform {
    margin-left: 10px;
  }

  .lbutton {
    width: 50px;
  }
}

@media (max-width: 950px) {
  .login {
    width: 60%;
  }
  .logform input {
    height: 10px;
    width: 100px;
  }
  .logform {
    margin-left: 10px;
  }

  .lbutton {
    width: 50px;
  }
}

.login h3 {
  font-size: 22px;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 60px;
}

.logform {
  font-size: 20px;
  margin-left: 60px;
  margin-top: 50px;
}

.logform input {
  margin-top: 10px;
  width: 400px;
  height: 45px;
  font-size: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  text-indent: 5px;
}

.lbutton {
  margin-top: 20px;
  width: 400px;
  border-radius: 10px;
  background-color: #ee5784;
  border: none;
  color: white;
  font-size: 20px;
  height: 40px;
}

.login p {
  padding-top: 30px;
  text-align: center;
}

.login p a {
  text-decoration: underline;
  color: black;
}

/*******************Sign In ***************************/
.signbody {
  width: 100%;
  height: 100vh;
  background-color: #d0ecf8;
  display: flex;
  justify-content: center;
}

.signin {
  margin-top: 150px;
  background-color: #ffffff;
  width: 30%;
  height: 680px;
  box-shadow: 10px 5px 5px grey;
  border-radius: 15px;
}

.signin h3 {
  font-size: 22px;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 30px;
}

.signform {
  font-size: 20px;
  margin-left: 60px;
  margin-top: 30px;
}

@media (max-width: 1600px) {
  .signin {
    width: 35%;
  }
}

@media (max-width: 1400px) {
  .signin {
    width: 40%;
  }
  .signinform input {
    width: 230px;
  }
}

@media (max-width: 1200px) {
  .signin {
    width: 50%;
    left: 25%;
  }
  .signform input {
    width: 100px;
  }
  .signform {
    margin-left: 30px;
  }

  .sbutton {
    width: 50px;
  }
}

@media (max-width: 950px) {
  .signin {
    width: 60%;
    left: 10%;
  }
  .signform input {
    height: 10px;
    width: 100px;
  }
  .signform {
    margin-left: 20px;
  }

  .signin h3 {
    margin-left: 20px;
  }

  .sbutton {
    width: 50px;
  }
}

.signform input {
  margin-top: 10px;
  width: 400px;
  height: 45px;
  font-size: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  text-indent: 5px;
}

.sbutton {
  margin-top: 20px;
  width: 400px;
  border-radius: 10px;
  background-color: #ee5784;
  border: none;
  color: white;
  font-size: 20px;
  height: 40px;
}

.signin p {
  padding-top: 30px;
  text-align: center;
}

.signin p a {
  text-decoration: underline;
  color: black;
}

/*********************************************************Mobile menu link*********************************************************/
@media (max-width: 998px) {
  .navbar {
    width: 100%;
    display: grid;
    height: 7rem;
    grid-template-columns: 2rem 5fr 3fr 2rem;
  }

  .links {
    display: none;
  }

  .heading h2 {
    display: grid;
    height: 7rem;
  }

  .mobile-menu-link {
    position: relative;
    z-index: 200;
  }

  .mobile-menu-link {
    background-color: white;
    width: 67%;
    height: 18rem;
    display: grid;
    grid-column: 3/5;
    align-items: center;
    position: relative;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 30px;
  }

  .horizontal {
    display: block;
    width: 84%;
    margin-bottom: 30px;
  }

  .mobile-menu-link ul {
    margin-top: 30px;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li {
    list-style-type: none;
    font-size: 25px;
    margin-bottom: 30px;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .navbar .hamburger-menu {
    display: block;
    position: fixed;
    right: 40px;
    top: 30px;
    z-index: 200;
    margin-left: 10px;
    font-size: 2.5rem;
  }
}

/******************************Reason***************************************/

.reason {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.reason h1 {
  font-size: 45px;
  text-align: center;
}

.col-1 {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 30px;
}

.col-2 {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 30px;
}

.card-1 {
  width: 330px;
  margin-right: 80px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.card-2 {
  width: 330px;
  margin-left: 80px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.card-1 h2 {
  font-size: 30px;
}

.card-2 h2 {
  font-size: 30px;
}

.card-1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 25px;
}

.card-2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 25px;
}
