* {
  font-family: EuclidCircularA, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;

  margin: 0rem;
  padding: 0rem;
}

html {
  font-size: 62.5%;
}

:root {
  background-color: oldlace;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

/* GENERAL ELEMENTS */
.section {
  padding: 7rem 3rem;
  border-top: 0.1rem solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 2rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

a {
  position: relative;
  /* top: -0.9rem; */
  padding: 0rem 0rem 0rem 0rem;
  text-decoration: none;
  color: black;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 0.1rem solid currentColor;
  padding-bottom: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

p {
  color: #666;
  font-size: 2rem;
}

/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.features__img {
  width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/***********Navbar************/
.navbar {
  display: flex;
  flex-direction: row;
  height: 8rem;
  width: 100%;
  z-index: 5;

  box-shadow: 0rem 0.5rem 0.5rem grey;
  background-image: linear-gradient(to right, #b77474, #fdfa60);
  position: fixed;
  top: 0;
}

.navbar .hamburger-menu {
  display: none;
}
.navbar h2 {
  /* margin-left: 5rem;
  margin-top: 3rem; */
  margin: 1.5rem 9rem 1.5rem 5rem;
  font-size: 3.2rem;
}

.links ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  margin-top: 3.5rem;
  margin-right: 10rem;
}

.links li {
  padding-left: 2rem;
  list-style-type: none;
  font-size: 2rem;
}

.links li a {
  color: black;
  text-decoration: none;
  top: -0.9rem;
  padding: 1.5rem;
  background-color: #f7f7f8;
  border-radius: 1.5rem;
  font-weight: 500;
}

.horizontal {
  display: none;
}

/*********LandingPage********/

.header {
  height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17rem;
}

.header img {
  margin-top: 8rem;
  margin-right: 5rem;
}

.landiingImage {
  margin-top: 15rem;
}

.header__title {
  flex: 1;
  margin: 9rem 5rem 12rem;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
}

.landingh1 {
  font-size: 4.5rem;
  line-height: 1.35;
  display: flex;
  width: auto;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
  z-index: -1;
}

.highlight {
  position: relative;
  content: "";
  margin: 0 3rem;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

#i100 {
  margin-top: 0%;
  /* transform: translateY(-50%); */
}

/* .highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
} */

/********* Detail Page *******/

.detail {
  width: 100%;
  height: 80rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail .detailh1 {
  font-size: 4rem;
  padding-top: 5rem;
  text-align: center;
}

.detail h3 {
  font-size: 3rem;
  padding-top: 1rem;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1em;
  position: relative;
  top: 5rem;
}

.card1 {
  height: 44rem;
  width: 20%;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 1rem 0.5rem 0.5rem grey;
  margin-left: 22rem;
  margin-right: 6rem;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.card2 {
  height: 44rem;
  width: 20%;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 1rem 0.5rem 0.5rem grey;
  margin-left: 6rem;
  margin-right: 6rem;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.card3 {
  height: 44rem;
  width: 20%;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 1rem 0.5rem 0.5rem grey;
  margin-left: 6rem;
  margin-right: 22rem;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.card1 h3,
.card2 h3,
.card3 h3 {
  margin-top: 1rem;
  font-size: 2.8rem;
  text-align: center;
}

.card1 img,
.card2 img,
.card3 img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20rem;
  padding: 2rem;
}

.card1 p,
.card2 p,
.card3 p {
  margin-top: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

/********Convert**********/

.convert {
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
}

.converth1 {
  font-size: 5.5rem;
}

.text {
  width: 60%;
  height: 50rem;
  border: 0.1rem solid black;
  margin: 5rem 5rem 2rem 5rem;
  border-radius: 0.7rem;
  overflow: hidden;
  overflow-y: scroll;
}

.text::-webkit-scrollbar {
  width: 15px;
  height: 7rem;
}
.text::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 14px;
}
.text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.text .content {
  padding: 3rem 2.5rem 0rem 2.5rem;
  font-size: 2.3rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.upload {
  width: 40%;
  text-align: center;
  margin-top: 14rem;
}

.upload p {
  padding-top: 2rem;
  font-size: 2rem;
}

/**********button*********/
.upload .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input.holder {
  display: none;
}

.buttons input[type="file"] {
  width: 50%;
}

.button {
  align-items: center;
  background-color: grey;
  border: 0;
  border-radius: 1.5rem;
  box-shadow: rgba(151, 65, 252, 0.2) 0rem 1.5rem 3rem -0.5rem;
  box-sizing: border-box;
  color: black;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: Phantomsans, sans-serif;
  font-size: 2rem;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 15rem;
  padding: 1.5rem 2.4rem;
  text-decoration: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-top: 4rem;
}

.button:active,
.button:hover {
  outline: 0;
}

/********footer **********/
.footer {
  width: 100%;
  background-color: #d3d3d3;
  color: black;
  text-align: center;
  padding-top: 1rem;
  position: relative;
  bottom: 0;
}

.footer {
  padding: 2rem 0;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  /* margin-bottom: 1rem; */
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer_copyright .footer_link {
  font-size: 1.4rem;
  top: 0rem;
}

#ft_logo {
  margin: 2rem 2rem;
}

/*******Login***********/
.logbody {
  width: 100%;
  height: 100vh;
  background-color: oldlace;
  display: flex;
  justify-content: center;
}

.login {
  margin-top: 17rem;
  background-color: #ffffff;
  width: 45%;
  height: 50rem;
  box-shadow: 1rem 0.5rem 0.5rem grey;
  border-radius: 1.5rem;
}

.login h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 3rem 0rem 0rem 3rem;
}

.logform {
  font-size: 2rem;
  /* margin-left: 6rem;
  margin-top: 5rem; */
  margin: 3rem 0rem 0rem 3rem;
}

.logform input {
  margin-top: 1rem;
  width: 90%;
  height: 4.5rem;
  font-size: 2rem;
  border: 0.1rem solid #f3f3f3;
  border-radius: 0.4rem;
  text-indent: 0.5rem;
}

.lbutton {
  margin-top: 2rem;
  width: 95%;
  border-radius: 1rem;
  background-color: #ee5784;
  border: none;
  color: white;
  font-size: 2rem;
  height: 4rem;
}

.login p {
  padding-top: 3rem;
  text-align: center;
}

.login p a {
  text-decoration: underline;
  color: black;
}

/******Sign In **********/
.signbody {
  width: 100%;
  height: 100vh;
  background-color: oldlace;
  display: flex;
  justify-content: center;
}

.signin {
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: #ffffff;
  width: 30%;
  height: 63rem;
  box-shadow: 1rem 0.5rem 0.5rem grey;
  border-radius: 1.5rem;
}

.signin h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-left: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.signform {
  font-size: 2rem;
  margin-left: 6rem;
}

.signform input {
  margin-top: 0.2rem;
  width: 40rem;
  height: 4.5rem;
  font-size: 2rem;
  border: 0.1rem solid #f3f3f3;
  border-radius: 0.4rem;
  text-indent: 0.5rem;
}

.sbutton {
  width: 92%;
  border-radius: 1rem;
  background-color: #ee5784;
  border: none;
  color: white;
  font-size: 2rem;
  height: 4rem;
}

.signin p {
  padding-top: 3rem;
  text-align: center;
}

.signin p a {
  text-decoration: underline;
  color: black;
}

/***********Reason**************/

.reason {
  width: 100%;
  height: 90rem;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.reason h1 {
  font-size: 4.5rem;
  text-align: center;
}

.col-1 {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 3rem;
}

.col-2 {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 3rem;
}

.card-1 {
  width: 33rem;
  margin-right: 8rem;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.card-2 {
  width: 33rem;
  margin-left: 8rem;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.card-1 h2 {
  font-size: 3rem;
}

.card-2 h2 {
  font-size: 3rem;
}

.card-1 p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding-top: 2.5rem;
}

.card-2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding-top: 2.5rem;
}

/********************Mobile menu link********************/
@media (max-width: 1600px) {
  .signin {
    width: 35%;
  }
}

@media (max-width: 1400px) {
  .signin {
    width: 60%;
  }
  .signinform input {
    width: 23rem;
  }
}

@media (max-width: 1300px) {
  .card1 {
    height: 44rem;
    width: 20%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 13rem;
    margin-right: 6rem;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  .card2 {
    height: 44rem;
    width: 20%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 6rem;
    margin-right: 6rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }
  .card3 {
    height: 44rem;
    width: 20%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 6rem;
    margin-right: 13rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }

  .upload .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .upload .buttons input[type="file"] {
    width: 85%;
  }
}

@media (max-width: 1200px) {
  .signin {
    width: 50%;
    left: 25%;
  }
  .signform {
    margin-left: 3rem;
  }
  .signin h3 {
    margin-left: 3rem;
  }
}

@media (max-width: 1100px) {
  .card1 {
    height: 44rem;
    width: 23%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 10rem;
    margin-right: 3rem;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  .card2 {
    height: 44rem;
    width: 23%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 3rem;
    margin-right: 3rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }
  .card3 {
    height: 44rem;
    width: 23%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 3rem;
    margin-right: 10rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }
}

@media (max-width: 1000px) {
  .navbar {
    width: 100%;
    display: grid;
    height: 7.5rem;
    grid-template-columns: 2rem 5fr 3fr 2rem;
  }
  .header img {
    margin-top: 1rem;
  }

  .card1 {
    height: 44rem;
    width: 25%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 7rem;
    margin-right: 2rem;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  .card2 {
    height: 44rem;
    width: 25%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }
  .card3 {
    height: 44rem;
    width: 25%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 2rem;
    margin-right: 7rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }

  .features {
    margin: 0rem 1.5rem;
  }
  .features__img {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .features__feature {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
  }

  .grow {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  /* a{
    padding: 0rem 0rem 2rem 0rem;
  } */

  .navbar a {
    margin: 1.5rem 9rem 1.5rem 5rem;
  }

  .links {
    display: none;
    width: 1rem;
    /* margin: 1.5rem 9rem 1.5rem 5rem; */
  }
  .heading {
    /* display: grid; */
    width: 20rem;

    /* font-size: 3rem; */
    /* height: 7rem; */
  }

  .heading h2 {
    /* display: grid; */
    width: 18rem;
    font-size: 3rem;
    height: 7rem;
    margin: 1.5rem 9rem 1.5rem 5rem;
  }

  .mobile-menu-link {
    position: relative;
    z-index: 200;
  }

  .mobile-menu-link {
    background-color: white;
    width: 67%;
    height: 28rem;
    display: grid;
    grid-column: 3/5;
    position: relative;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0rem 5rem 10rem -2rem,
      rgba(0, 0, 0, 0.3) 0rem 3rem 6rem -3rem;
    margin-bottom: 3rem;
  }

  .horizontal {
    display: block;
    width: 84%;
    margin-bottom: 3rem;
  }

  .mobile-menu-link ul {
    margin-top: 3rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li {
    list-style-type: none;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .navbar .hamburger-menu {
    display: block;
    position: fixed;
    right: -4rem;
    top: 2rem;
    z-index: 10;
    margin-left: 1rem;
    font-size: 4.5rem;
  }

  .section {
    padding: 4rem 3rem;
    border-top: 0.1rem solid #ddd;
    transition: transform 1s, opacity 1s;
  }

  .section__description {
    font-size: 3.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 1rem;
  }

  .features__icon svg {
    height: 4.5rem;
    width: 4.5rem;
    fill: var(--color-primary);
  }

  .features__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-opacity);
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  .features__header {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .login p {
    color: #666;
    font-size: 2rem;
  }

  .footer_p {
    font-size: 2.5rem;
  }

  .upload {
    margin-top: 9rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
  .navbar {
    width: 100%;
    display: grid;
    height: 7rem;
    grid-template-columns: 2rem 5fr 3fr 2rem;
  }
  .links {
    display: none;
    width: 1rem;
  }
  .heading h2 {
    /* display: grid; */
    /* width: 4rem; */
    font-size: 3rem;
    /* height: 7rem; */
  }
  .upload .btn {
    flex-direction: column;
  }
  .button {
    font-size: 2.4rem;
    min-width: 10rem;
  }
  .signin {
    height: 60rem;
    width: 60%;
    left: 10%;
  }
  .signform input {
    height: 4rem;
    width: 97%;
  }
  .signform {
    margin-left: 2rem;
  }

  .signin h3 {
    margin-left: 2rem;
  }

  .card1 {
    height: 44rem;
    width: 25%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 8rem;
    margin-right: 2rem;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }
  .card2 {
    height: 44rem;
    width: 25%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }
  .card3 {
    height: 44rem;
    width: 25%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    margin-left: 2rem;
    margin-right: 8rem;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
  .convert {
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0rem;
  }
  .detail .detailh1 {
    font-size: 4rem;
    padding-top: 50rem;
    text-align: center;
  }
  .text {
    width: 60%;
    height: 50rem;
    border: 0.1rem solid black;
    margin: 5rem 5rem -41rem 5rem;
    border-radius: 1.5rem;
    overflow: hidden;
    overflow-y: scroll;
  }
  .reason {
    width: 100%;
    height: 130rem;
    display: flex;
    flex-direction: column;
    margin-top: 180rem;
  }
  .col-1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 3rem;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 3rem;
  }

  .card-1 {
    width: 65rem;
    margin-right: 0rem;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .card-2 {
    width: 65rem;
    margin-left: 0rem;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .card-1 p {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    padding-top: 2.5rem;
  }

  .card-2 p {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    padding-top: 2.5rem;
  }
  .cards {
    flex-direction: column;
    height: 200rem;
    width: 100%;
    position: relative;
    top: 0rem;
  }
  .card1 {
    height: 100rem;
    width: 50%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    position: absolute;
    z-index: -1;
    align-self: center;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
  }
  .card2 {
    height: 100rem;
    width: 50%;
    border-radius: 1.5rem;
    z-index: -1;
    background-color: white;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    position: absolute;
    align-self: center;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
  }
  .card3 {
    height: 100rem;
    width: 50%;
    z-index: -1;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    position: absolute;
    align-self: center;
    margin-left: 0rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
    margin-right: 0rem;
    position: relative;
    overflow: hidden;
  }
  /* .card1 {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
  }

  .card2 {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .card3 {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  } */

  .upload .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5rem;
  }

  .button {
    width: 40%;
  }

  .card-1 h2 {
    font-size: 4rem;
  }

  .card-2 h2 {
    font-size: 4rem;
  }

  .upload {
    width: 100%;
    text-align: center;
    margin-top: 14rem;
  }

  .upload p {
    padding-top: 2rem;
    font-size: 3rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 45%;
  }

  .landingh1 {
    font-size: 4.5rem;
    line-height: 1.35;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .header__title {
    flex: 1 1;
    margin: 0rem 5rem;
    max-width: 115rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;
  }

  .header__img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/4;
    /* transform: translateY(-6rem); */
    z-index: -1;
  }

  .highlight {
    position: relative;
    content: "";
    margin: 0rem 0rem;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
  }

  #i100 {
    margin-top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .detail {
    height: 220rem;
  }
  .cards {
    flex-direction: column;
    height: 200rem;
  }
  .card1 {
    height: 100rem;
    width: 50%;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    position: absolute;
    z-index: -1;
    align-self: center;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
  }
  .card2 {
    height: 100rem;
    width: 50%;
    border-radius: 1.5rem;
    z-index: -1;
    background-color: white;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    position: absolute;
    align-self: center;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
  }
  .card3 {
    height: 100rem;
    width: 50%;
    z-index: -1;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 1rem 0.5rem 0.5rem grey;
    position: absolute;
    align-self: center;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
    position: relative;
    overflow: hidden;
  }
  .reason {
    width: 100%;
    height: 130rem;
    display: flex;
    flex-direction: column;
    margin-top: 50rem;
  }
  .footer {
    width: 100%;
    background-color: #37383d;
    color: black;
    text-align: center;
    bottom: 0rem;
    padding-top: 1rem;
    position: relative;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 30%;
  }
}
